.product-card{
    width: 300px;
    height: 340px;
    margin: 1%;
    padding: 2%;
    background-color: var(--color-cream);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.tittle-card{
    margin-bottom: 0%;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.description-card{
    display: flex;
    align-items: center;
}
.img-card{
    width: 100px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}
.text-description-card{
    padding-right: 5px;
    height: 200px;
    overflow-y: auto;
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
}
.text-description-card::-webkit-scrollbar{
    width: 5px;
    height: 0px;
}
.text-description-card::-webkit-scrollbar-track{
    background: white;
    border-radius: 0px 0px 2px 2px;
}
.text-description-card::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color:var(--color-light-brown);
}
.price{
    width: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
}
.price button{
    background: none;
    border: 0px;
    border-radius: 50%;
}
.add-car{
    width: 37px;
    height: auto;
}
@media (min-width: 2000px) {
    .product-card{
        padding: 20px;
        margin: 50px;
    }
}