footer{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-cream);
    width: 100%;
    padding: 10px 0px;
    bottom: 0%;
}
.img-footer{
    width: 50px;
    height: fit-content;
    margin: 0px 5px;
}
.img-footer-2{
    width: 40px;
    height: fit-content;
    margin: 0px 5px;
}
.container-2{
    display: flex;
    align-content: center;
}
.footer-text{
    margin: 0%;
    padding: 0%;
    font-size: .8rem;
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    footer{
        bottom: 0%;
    }
}
@media (max-width: 520px) {
/*     footer{
        margin-bottom: 69px;
    } */
}
@media (max-width: 425px) {
/*     footer{
        margin-bottom: 63.81px;
    } */
    .footer-text{
        font-size: .5rem;
    }
    .img-footer{
        width: 20px;
    }
    .img-footer-2{
        width: 17px;
    }
}