.nav-mobile{
    background-color: var(--color-light-brown);
    position: fixed;
    width: 100%;
    bottom: 0%;
    z-index: 999;
}
.ul-nav {
    margin: 0%;
    padding: 1.2% 1% 1%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: .9em;
    color: black;
}
.li-nav, .center-img-p {
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.nav-text{
    padding: 0%;
    margin: 0%;
    font-size: .8rem;
}
.nav-img{
    width: 40px;
    height: fit-content;
}
@media (min-width: 769px) {
    .nav-mobile{
        display: none;
    }
}
@media (max-width: 425px) {
    .nav-text{
        padding: 0%;
        margin: 0%;
        font-size: .7rem;
    }
}