.main-car{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* P CAR COTAINER */
.container-carrito{
    width: 600px;
    margin: 2%;
    padding: 0%;
    display: flex;
    justify-content: center;
}
/* P CAR CARD */
.p-car-container{
    position: relative;
    width: 600px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cream);
    border-radius: 5px;
}
/* IMG CAR */
.img-card{
    width: 160px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}
/* CAR TEXT */
.flex-container{
    width: 69%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.flex-container p{
    text-transform: capitalize;
    margin-bottom: 2%;
}
.flex-sub-cont{
    display: flex;
    align-items: center;
}
.flex-sub-cont div{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
/* DELETE BTN */
.delete-product{
    position: absolute;
    margin: 0px;
    padding: 0px 5px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 13px;
    right: 2%;
    top: 7%;
    background-color: white;
}
/* CARD PURCHASE */
.car-total{
    width: 500px;
    margin: 2% 0%;
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--color-cream);
    border-radius: 10px;
}
.car-total h5{
    font-weight: bold;
    margin-bottom: 5%;
}
.car-total p{
    text-align: start;
    font-size: 1.1em;
}
.car-total h4{
    font-size: 1.8em;
    font-weight: 500;
    font-style: italic;
    margin: 0%;
}
.car-total a{
    margin: 5% 10% 0%;
    padding: 2px 0px;
    font-size: 1.5em;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
}
@media (max-width: 768px) {
    .container-carrito{
        width: 100%;
    }
    /* P CAR CARD */
    .p-car-container{
        width: 90%;
        padding: 1%;
        border-radius: 3px;
    }
    .img-card{
        width: 130px;
        height: 90px;
    }
    .flex-sub-cont p{
        font-size: 14px;
    }
    /* CARD PURCHASE */
    .section-car-total{
        width: 100%;
        margin: 0% 5%;
        display: flex;
        justify-content: center;
    }
    .car-total{
        width: 80%;
        margin: 2% 0%;
        padding: 4%;
    }
    .car-total p, .car-total h5{
        font-size: 1em;
    }
    .car-total h4{
        font-size: 1.5em;
    }
    .car-total a{
        font-size: 1em;
    }
}
@media (max-width: 425px) {
    .img-card{
        width: 100px;
        height: 90px;
    }
    .flex-container p{
        font-size: 14px;
    }
    .flex-sub-cont p{
        font-size: 12px;
    }
    .flex-sub-cont div{
        margin: 0px 10%;
    }
    .delete-product{
        width: fit-content;
        left: 2%;
        top: 7%;
    }
}